<div class="reveal">
    <div class="slides">
        <!-- Cover Slide -->
        <section class="cover-slide">
            <div class="slide-content">
                <div class="section-title p-1 d-flex flex-column justify-content-end">
                    <h4 class="lecture-number mb-0">Lecture 1</h4>
                    <h1 class="lecture-name">Introduction</h1>
                </div>
                <div class="section-detail p-1">
                    <h3 class="unit-title">Game Engines 1</h3>
                </div>
            </div>
        </section>

        <!-- Title Slide -->
        <section class="title-slide">
            <div class="slide-content">
                <div class="section-title p-1 d-flex flex-column justify-content-end">
                    <h1 class="heading m-0">Contents</h1>
                </div>
                <div class="section-detail p-5">
                    <ol class="number-list">
                        <li class="item">
                            <div class="item-bullet">
                                <h2 class="number"></h2>
                            </div>
                            <div class="item-content">
                                <strong class="m-0">The Unit</strong>
                                <p class="mt-0 fst-italic">What will we be doing?</p>
                            </div>
                        </li>

                        <li class="item">
                            <div class="item-bullet">
                                <h2 class="number"></h2>
                            </div>
                            <div class="item-content">
                                <strong class="m-0">Software and Tools</strong>
                                <p class="mt-0 fst-italic">What will we be working with?</p>
                            </div>
                        </li>

                        <li class="item">
                            <div class="item-bullet">
                                <h2 class="number"></h2>
                            </div>
                            <div class="item-content">
                                <strong class="m-0">Topic Introduction</strong>
                                <p class="mt-0 fst-italic">Some theory and basic practice.</p>
                            </div>
                        </li>
                    </ol>
                </div>
            </div>
        </section>

        <!-- Assignment Brief -->
        <section class="p-5">
            <div class="slide-content">
                <h1>The Unit</h1>

                <p class="mb-5">Throughout this semester, you will learn:</p>

                <ul class="bullet-list w-75">

                    <!-- Point 1 -->
                    <li class="item">
                        <div class="item-bullet me-4">
                            <fa-icon [icon]="faAngleRight"></fa-icon>
                        </div>
                        <div class="item-content">
                            <strong class="m-0">How to code using C#.</strong>
                            <p class="mt-2 fst-italic">Get stressed out when it doesn't work, and ecstatic when it does.</p>
                        </div>
                    </li>

                    <!-- Point 2 -->
                    <li class="item">
                        <div class="item-bullet me-4">
                            <fa-icon [icon]="faAngleRight"></fa-icon>
                        </div>
                        <div class="item-content">
                            <strong class="m-0">Produce the paperwork!</strong>
                            <p class="mt-2 fst-italic">All games require some form of documentation.</p>
                        </div>
                    </li>

                    <!-- Point 3 -->
                    <li class="item">
                        <div class="item-bullet me-4">
                            <fa-icon [icon]="faAngleRight"></fa-icon>
                        </div>
                        <div class="item-content">
                            <strong class="m-0">Using Unity to build games.</strong>
                            <p class="mt-2 fst-italic">Companies will appreciate that you know how to do this.</p>
                        </div>
                    </li>
                </ul>

                <p class="mt-5">This assignment requires you to walk through the process of game development for <strong>two microgames</strong>.</p>
            </div>
        </section>

        <!-- Software and Tools -->
        <section class="p-5">
            <div class="slide-content">
                <h1>Software and Tools</h1>

                <p class="mb-5">For this unit you will need:</p>

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-4">
                            <a href="https://unity3d.com/get-unity/download" target="_blank">
                                <figure>
                                    <img src="/assets/images/lesson-1/software/unity.png" alt="Unity" class="d-block">
                                    <figcaption>Unity 2020.3 (LTS)</figcaption>
                                </figure>
                            </a>
                        </div>
                        <div class="col-4">
                            <a href="https://code.visualstudio.com/" target="_blank">
                                <figure>
                                    <img src="/assets/images/lesson-1/software/vs-code.png" alt="Unity" class="d-block">
                                    <figcaption>Visual Studio Code</figcaption>
                                </figure>
                            </a>
                            <a href="https://code.visualstudio.com/docs/other/unity" target="_blank" class="d-block mt-3">
                                Unity Development with VS Code
                            </a>
                        </div>
                        <div class="col-4">
                            <a href="https://desktop.github.com/" target="_blank">
                                <figure>
                                    <img src="/assets/images/lesson-1/software/github.png" alt="Unity" class="d-block">
                                    <figcaption>GitHub Desktop</figcaption>
                                </figure>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- .NET Title -->
        <section class="p-5">
            <div class="slide-content center">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-6 offset-3">
                            <figure>
                                <img src="/assets/images/lesson-1/theory/dotnet.png" alt="C#" class="d-block mx-auto">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- What is .NET? -->
        <section class="p-5">
            <div class="slide-content">
                <h1>What is .NET?</h1>

                <div class="container-fluid mt-35">
                    <div class="row">
                        <div class="col-12 col-lg-8 offset-lg-2">
                            <ul class="bullet-list w-100">

                                <!-- Point 1 -->
                                <li class="item">
                                    <div class="item-bullet me-4">
                                        <fa-icon [icon]="faAngleRight"></fa-icon>
                                    </div>
                                    <div class="item-content">
                                        <strong class="m-0">Network Enabled Technology</strong>
                                        <p class="mt-2 fst-italic">
                                            Capable of translating various programming languages (C#, F#, VB.NET)
                                            <br>
                                            into functional applications.
                                        </p>
                                    </div>
                                </li>

                                <!-- Point 2 -->
                                <li class="item">
                                    <div class="item-bullet me-4">
                                        <fa-icon [icon]="faAngleRight"></fa-icon>
                                    </div>
                                    <div class="item-content">
                                        <strong class="m-0">Shared Libraries</strong>
                                        <p class="mt-2 fst-italic">
                                            Developers are not required to write the foundational code from scratch
                                            <br>
                                            every time they start a new project.
                                        </p>

                                        <p class="mt-3 fst-italic">
                                            Packed with tens of thousands of utility functions that will speed up production.
                                        </p>
                                    </div>
                                </li>

                                <!-- Point 3 -->
                                <li class="item">
                                    <div class="item-bullet me-4">
                                        <fa-icon [icon]="faAngleRight"></fa-icon>
                                    </div>
                                    <div class="item-content">
                                        <strong class="m-0">Free, Cross-Platform, Open-Source</strong>
                                        <p class="mt-2 fst-italic">
                                            Any developer can actively contribute to the framework and help it grow.
                                        </p>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- C# Title -->
        <section class="p-5">
            <div class="slide-content center">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-6 offset-3">
                            <figure>
                                <img src="/assets/images/lesson-1/theory/c-sharp.png" alt="C#" class="d-block mx-auto">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- What is C#? -->
        <section class="code-slide p-5" style="--code-font-size: 3em">
            <div class="slide-content">
                <h1>What is C#?</h1>

                <p class="mb-5">A general-purpose type-safe programming language created by Microsoft.</p>

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 col-lg-8 offset-lg-2">
                            <ul class="bullet-list w-100">

                                <!-- Point 1 -->
                                <li class="item">
                                    <div class="item-bullet me-4">
                                        <fa-icon [icon]="faAngleRight"></fa-icon>
                                    </div>
                                    <div class="item-content">
                                        <strong class="m-0">Common Language Runtime</strong>
                                        <p class="mt-2 fst-italic">
                                            Projects can be simplistic in structure, or consist of numerous
                                            <br>classes containing various relevant functions.
                                        </p>
                                    </div>
                                </li>
                                
                                <!-- Point 2 -->
                                <li class="item">
                                    <div class="item-bullet me-4">
                                        <fa-icon [icon]="faAngleRight"></fa-icon>
                                    </div>
                                    <div class="item-content">
                                        <strong class="m-0">Heavily integrated with the .NET Framework</strong>
                                        <p class="mt-2 fst-italic">
                                            We don't need to do any heavy lifting to get our projects to work!
                                        </p>
                                    </div>
                                </li>
                            </ul>

                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-12 col-lg-10 offset-lg-1">
                                        <pre data-id="code-animation">
                                            <code class="hljs language-csharp" data-trim data-line-numbers="|1-3|5-6|">
                                                string name = "Redd";
                                                int tiredness = 9001;
                                                bool hasPS5 = true;
            
                                                Weapon sword = new Weapon("Sword");
                                                sword.Slice();
                                            </code>
                                        </pre>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Why learn C#? -->
        <section class="p-5">
            <div class="slide-content">
                <h1>Why Learn C#?</h1>

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 col-lg-8 offset-lg-2">
                            <ul class="bullet-list w-100">

                                <!-- Point 1 -->
                                <li class="item">
                                    <div class="item-bullet me-4">
                                        <fa-icon [icon]="faAngleRight"></fa-icon>
                                    </div>
                                    <div class="item-content">
                                        <strong class="m-0">Popular and versatile coding language</strong>
                                        <p class="mt-2 fst-italic">
                                            Used to create interactive websites, mobile apps, digital games,
                                            as well as augmented and virtual Reality.
                                        </p>

                                        <p class="mt-3 fst-italic">
                                            <strong>Pokémon Go</strong> and the <strong>Stack Overflow</strong> website
                                            <br>were built using versions of C# (Unity and ASP.NET respectively).
                                        </p>
                                    </div>
                                </li>

                                <!-- Point 2 -->
                                <li class="item">
                                    <div class="item-bullet me-4">
                                        <fa-icon [icon]="faAngleRight"></fa-icon>
                                    </div>
                                    <div class="item-content">
                                        <strong class="m-0">Designed with a shallow learning curve.</strong>
                                        <p class="mt-2 fst-italic">Easy to learn and get creating, but takes some time and practice to master.</p>
                                        <p class="mt-2 fst-italic">Much easier than Java and C++, extremely flexible and scalable by comparison.</p>
                                    </div>
                                </li>

                                <!-- Point 3 -->
                                <li class="item">
                                    <div class="item-bullet me-4">
                                        <fa-icon [icon]="faAngleRight"></fa-icon>
                                    </div>
                                    <div class="item-content">
                                        <strong class="m-0">Programming teaches you how to think.</strong>
                                        <p class="mt-2 fst-italic">Improve your problem-solving skills, learn how to approach a project,
                                            <br>how to stimulate your mood and creativity.</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- What is C#? -->
        <section class="p-5">
            <div class="slide-content">
                <h1>The biggest weakness of C#</h1>

                <p class="mb-5">All code needs to be compiled before it can run, making development slow.</p>

                <figure class="d-block w-75 mx-auto">
                    <img src="/assets/images/lesson-1/unity/unity-compiling.png" alt="Oh, we have to wait again." class="d-block w-100">
                    <figcaption class="fst-italic">But I only changed one line?</figcaption>
                </figure>
            </div>
        </section>
        
        <!-- CLR -->
        <section class="p-5">
            <div class="slide-content">
                <h1>Common Language Runtime</h1>

                <figure class="d-block w-75 mx-auto">
                    <img src="/assets/images/lesson-1/theory/clr.png" alt="CLR" class="d-block w-100">
                    <figcaption class="mt-5 fst-italic">Code needs to be compiled before a machine can understand it.</figcaption>
                </figure>
            </div>
        </section>
        
        <!-- Practice -->
        <section class="p-5">
            <div class="slide-content">
                <h1>Introducing Real Code</h1>

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 col-lg-8 offset-lg-2">
                            <ul class="bullet-list w-100">

                                <!-- Point 1 -->
                                <li class="item">
                                    <div class="item-bullet me-4">
                                        <fa-icon [icon]="faAngleRight"></fa-icon>
                                    </div>
                                    <div class="item-content">
                                        <strong class="m-0">You don't need Unity for this!</strong>
                                        <p class="mt-2 fst-italic">
                                            The tool we'll be using is on the next slide.
                                        </p>
                                    </div>
                                </li>

                                <!-- Point 2 -->
                                <li class="item">
                                    <div class="item-bullet me-4">
                                        <fa-icon [icon]="faAngleRight"></fa-icon>
                                    </div>
                                    <div class="item-content">
                                        <strong class="m-0">Basic code with immediate output</strong>
                                        <p class="mt-2 fst-italic">Let's focus on the source code before introducing visuals.</p>
                                    </div>
                                </li>

                                <!-- Point 3 -->
                                <li class="item">
                                    <div class="item-bullet me-4">
                                        <fa-icon [icon]="faAngleRight"></fa-icon>
                                    </div>
                                    <div class="item-content">
                                        <strong class="m-0">Challenge Mode</strong>
                                        <p class="mt-2 fst-italic">You will be given homework! (oh no!)</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="p-5">
            <div class="slide-content">
                <h1>.NET Fiddle</h1>

                <iframe data-src="https://dotnetfiddle.net/" class="mx-auto" data-preload></iframe>
                <p class="mt-3">You can code here or <a href="https://dotnetfiddle.net" target="_blank">open the website</a>!</p>
            </div>
        </section>

        <!-- Reference -->
        <section class="code-slide p-5" style="--code-font-size: 1.5em">
            <div class="slide-content">
                <h1>Reference</h1>

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 col-lg-10 offset-lg-1">
                            <pre data-id="code-animation">
                                <code class="hljs language-csharp" data-trim data-line-numbers="|1-2|4-5|7-8|10-11|13-14|16-17|19-20|">
                                    // Strings hold a sequence of characters.
                                    string name = "Redd";

                                    // Integers make up whole numbers.
                                    int level = 99;

                                    // Floating point numbers require an f to distinguish them from doubles.
                                    float coffees = 1.8f;

                                    // Booleans are either true or false.
                                    bool awesome = true;

                                    // We can write basic strings to console.
                                    Console.WriteLine("This is a line in C#!");

                                    // We are able to read player input.
                                    string inputtedName = Console.ReadLine();

                                    // We can concatenate strings.
                                    Console.WriteLine("Hello, " + inputtedName);
                                </code>
                            </pre>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Homework -->
        <section class="p-5">
            <div class="slide-content">
                <h1>Homework</h1>

                <p class="mb-5">Use <a href="https://dotnetfiddle.net" target="_blank">.NET Fiddle</a> to practice the basics of C# with the following exercise:</p>

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 col-lg-8 offset-lg-2">
                            <ul class="bullet-list w-100">

                                <!-- Point 1 -->
                                <li class="item">
                                    <div class="item-bullet me-4">
                                        <fa-icon [icon]="faAngleRight"></fa-icon>
                                    </div>
                                    <div class="item-content">
                                        <strong class="m-0">My favorite character!</strong>
                                        <p class="mt-2 fst-italic">
                                            Pick a character from your favorite game and log their stats using the correct variable types.
                                        </p>
                                    </div>
                                </li>

                                <!-- Point 1 -->
                                <li class="item">
                                    <div class="item-bullet me-4">
                                        <fa-icon [icon]="faAngleRight"></fa-icon>
                                    </div>
                                    <div class="item-content">
                                        <strong class="m-0">Customize!</strong>
                                        <p class="mt-2 fst-italic">
                                            Replace the character's name with your own using <strong>Console.ReadLine</strong>.
                                        </p>
                                    </div>
                                </li>

                                <!-- Point 2 -->
                                <li class="item">
                                    <div class="item-bullet me-4">
                                        <fa-icon [icon]="faAngleRight"></fa-icon>
                                    </div>
                                    <div class="item-content">
                                        <strong class="m-0">Print the stat sheet.</strong>
                                        <p class="mt-2 fst-italic">Use the <strong>Console.WriteLine</strong> command to print all your variables!</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <p class="mt-3">The exercise will be reviewed in our next lecture.</p>
            </div>
        </section>
    </div>
</div>